@import url("https://fonts.googleapis.com/css?family=Karla");

:root {
  /* HEX */
  --color1: #ffcdb2ff;
  --color2: #ffb4a2ff;
  --color3: #e5989bff;
  --color4: #b5838dff;
  --color5: #6d6875ff;
  --color6: #fb656aff;
  --transition: all 300ms ease-in-out;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: karla;
}

::selection {
  background: var(--color6);
  color: #fff;
}

#app {
  background: #f5f2f2f3;
  height: 100%;
}

.side-one {
  /* position: fixed; */
  background: var(--color5);
}

.pro-img {
  /* width: ; */
  height: 300px;
}

.pro-img img {
  width: 100%;
  height: 100%;
}

.pro-info {
  height: 70px;
  line-height: 30px;
  text-align: center;
  margin-top: 1rem;
  color: var(--color6);
}

.pro-info h3 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.3rem;
  color: #f0f0f0;
}
.pro-info p {
  font-weight: 800;
}
.feature {
  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;
}

.feature a {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--color2);
}

.feature a:hover {
  border: solid 1px var(--color6);
}

.feature a.active {
  border: solid 1px var(--color6);
}

.bio p {
  line-height: 40px;
}

.contact .media-block {
  height: auto;
  width: 100%;
}
.contact .media-block a {
  text-decoration: none;
  display: inline-block;
  margin-left: 1.2rem;
  font-size: 2rem;
  text-align: center;
  color: var(--color6);
}
.emphasis {
  background: var(--color6);
  padding: 0.4rem;
  color: var(--color1);
  font-weight: 800;
}
.blog p {
  width: 95%;
}
.slide {
  transform: translateX(-500px);
  transition: all 300ms;
  position: absolute;
}

.side-two {
  margin: 1rem;
}
#project-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#project-container .project-box {
  width: 95%;
  margin-bottom: 1rem;
  border: solid 2px var(--color6);
}

#project-container .project-box img {
  width: 100%;
  height: 100%;
}
.list-block {
  list-style-type: none;
  margin-top: 0.9rem;
}

.lists {
  width: 90%;
}

.lists {
  margin-bottom: 1rem;
}

.slide.current {
  transform: translateX(0px);
}

.message-box {
  width: 100%;
}

.message-box h3 {
  font-weight: 800;
  color: var(--color6);
  padding: 1rem;
}
.message-box form {
  width: 95%;
}

label {
  color: var(--color6);

  display: block;
}

input {
  margin-bottom: 0.5rem;
}

input,
textarea,
button {
  width: 100%;
  outline: 0;
  border: var(--color6) solid 1px;
  padding: 0.6rem;
  margin-bottom: 0.5rem;
}

button {
  background: none;
  font-size: 1rem;
  transition: var(--transition);
}

button:hover {
  background: var(--color6);
  color: #fff;
}

#name-display {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.jingle {
  background: var(--color6);
  padding: 0.5rem;
  font-weight: 500;
  margin-left: 0.5rem;
  color: #fff;
  text-shadow: var(--color1);
}

@media (min-width: 768px) {
  #app {
    height: 100vh;
    display: flex;
    overflow: hidden;
  }

  .side-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color5);
  }

  .pro-img {
    width: 40%;
    height: 26%;
  }

  .pro-img img {
    border-radius: 50%;
    border: var(--color6) solid 2px;
  }

  .slide {
    transform: translateY(-800px);
  }

  .slide.current {
    transform: translateY(0px);
  }
  #project-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #project-container .project-box {
    width: 30%;
    margin: 0.5rem;
  }
}
