@import url("https://fonts.googleapis.com/css?family=Karla");

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
  font-family: karla;
}
/* #333; 
  #962626

*/

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 350px 750px;
  grid-gap: 30px;
  background: #333;
  overflow: hidden;
}
.side-one {
  background: #962626;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  border-right: solid 2px white;
  /* grid-template-rows: repeat(2, auto); */
}
.side-one .pro-img img {
  border-radius: 50%;
  width: 200px;
  border: 2px white solid;
  margin-bottom: 20px;
}
.side-one .pro-info {
  padding: 5px;
  font-size: 1.3rem;
}
.side-one .feature {
  margin-top: 10px;
}
.side-one .feature a {
  text-decoration: none;
  color: #f4f4f4;
  padding: 5px;
  background: #333;
}

/* Side Two Styles */
.side-two {
  padding: 10px;
}
.side-two .contact a {
  display: inline;
  margin-left: 5rem;
  margin-bottom: 2rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.side-two .contact a:hover {
  color: #962626;
}
.side-two .contact i {
  font-size: 4rem;
}
.slide {
  position: absolute;
  top: 35%;
  opacity: 0;
}

.slide.current {
  opacity: 1;
  transition: opacity ease 1s;
}

.bio {
}

/* Media Queries Max-width 500px */
@media screen and (max-width: 500px) {
  .container {
    display: block;
  }
  .slide {
    position: absolute;
    top: 60%;
  }
  .side-one {
    border: none;
  }
}
@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
  .slide {
    position: absolute;
    top: 60%;
  }
}
