
@import url('https://fonts.googleapis.com/css?family=Karla');


*{
  padding: 0px;
  margin: 0px;
  box-sizing:border-box;
font-family:karla;
}

body {
  background: #333;
  color: #fff;
  scroll-behavior: smooth; }

.container {
  background-color: #fff;
  height: auto;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 600px) {
    .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.side-one {
  min-height: auto;
  background-color: #962626;
  width: 60%;
  padding: 0 10px;
  color: white;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around; }
  .side-one a {
    display: block;
    margin-top: 10px; }
  @media screen and (max-width: 600px) {
    .side-two{
    min-height:400px;
    }
    .side-one {
      width: 100%;
      padding: 5px 0px; }
      .side-one a {
        display: inline-block;
        cursor: pointer; } }
  .side-one a {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 5px;
    margin-top: 3px; }
    .side-one a:hover {
      background: #962626;
      -webkit-transition: 1s;
      transition: 1s; }

.pro-img {
  width: 200px;
  margin: 30px 0px;
  background: #fff;
  border-radius: 50%;
  padding: 5px; }
  .pro-img img {
    width: 100%;
    border-radius: 50%; }

.pro-info h3 {
  font-size: 2em; }

.pro-info p {
  margin-bottom: 5px; }

.feature {
  margin-top: 5px;
  -ms-flex-line-pack: distribute;
  align-content: space-around; }

.side-two {
  height: auto;
  background-color: #333;
  width: 100%;
  color: white;
  padding: 10px;
  line-height: 30px;
  font-size: 20px; }

.bio {
  margin: 100px auto;
  padding: 10px;
  opacity: 0;
  position: relative;
  bottom: 0px; }

.important {
  background: #fff;
  color: #333;
  font-weight: bolder;
  padding: 2px; }

.contact {
  margin: 100px auto;
  opacity: 0;
  position: relative;
  bottom: 300px; }

.blog {
  position: relative;
  bottom: 300px;
  opacity: 0; }

.current {
  opacity: 1;
  -webkit-transition: opacity ease-in 1s;
  transition: opacity ease-in 1s; }

.media-block {
  line-height: 50px; }
  .media-block a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1rem; }

@media screen and (max-width: 600px) {
  .side-one {
    min-height: 400px; }
  .contact {
    opacity: 0;
    position: relative;
    bottom: 350px; }
  .blog {
    position: relative;
    opacity: 0;
    bottom: 500px;
    margin-top: 0px; }
  .bio {
    position: relative;
    bottom: 80px; } }

.current {
  opacity: 1;
  -webkit-transition: opacity ease-in 1s;
  transition: opacity ease-in 1s; }
